@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply bg-white;
  @apply font-raleway;
  @apply text-softBlack;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

hr {
  height: 2px;
  -webkit-filter: blur(2px);
  width: 75%;
  border-radius: 100px 50px;
  background: rgb(3, 255, 200);
  background: linear-gradient(
    90deg,
    rgba(3, 255, 200, 1) 15%,
    rgba(28, 211, 162, 1) 49%,
    rgba(3, 255, 200, 1) 85%
  );
}

.hr {
  height: 2px;
  width: 75%;
  border-radius: 100px 50px;
  background: rgb(3, 255, 200);
  background: linear-gradient(
    90deg,
    rgba(3, 255, 200, 1) 15%,
    rgba(28, 211, 162, 1) 49%,
    rgba(3, 255, 200, 1) 85%
  );
}

.about-nav {
  background: #ffb6ce;
  border-radius: 6px;
  font-weight: 600;
}

.green-category {
  color: #085f63;
  background: rgba(28, 211, 162, 0.4);
}

.pink-category {
  color: #b31e6f;
  background: rgba(240, 92, 133, 0.4);
}

.blue-category {
  color: #1e2a78;
  background: rgba(47, 137, 252, 0.4);
}

.check {
  animation-duration: 3s;
  animation-name: slideout;
}

.calendly-inline-widget {
  height: 500px !important;
  width: 100% !important;
}

@keyframes slideout {
    from {
        margin-right: 50%;
        width: 50%;
    }

    to {
        margin-right: 100%;
        width: 0%;
    }
}

/* media queries */
@media (min-width: 640px) {
  hr {
    height: 3px;
  }
}

@media (min-width: 768px) {
  .calendly-inline-widget {
    width: 75% !important;
  }
}

@media (min-width: 1160px) {
  .calendly-inline-widget {
    width: 50% !important;
  }
}
